<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hemliga tomten</title>
</head>
<body>
    <h1>Välkommen till hemliga tomten</h1>
    
    <form method="POST" action="/">
        <label for="name">Fyll i ditt namn:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Lägg till</button>
    </form>

    <h2>Deltagare:</h2>
    <ul>
        {% for participant in participants %}
            <li>{{ participant }}</li>
        {% endfor %}
    </ul>

    {% if participants %}
        <form method="POST" action="/generate">
            <button type="submit">Matcha</button>
        </form>

    <form method="POST" action="/clear" style="margin-top: 10px;">
            <button type="submit" style="background-color: red; color: white;">Ta bort deltagare</button>
        </form>
    {% endif %}
</body>
</html>
